.navbar {
    background-color: #353a40!important;
}
.navbar-nav  .destacado {	
    color: #26993e;
}
.carousel img {
    height: 34rem;
    object-fit: cover;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
}
.carousel-caption h2 {
	font-weight: 600;
}
.carousel-caption p {
	font-size: 1.rem;
	padding-left: 8%;
    max-width: 32rem;
}
.btn-success {
    background-color: #29a744;
}
h6 {
	padding-top: 30px;
	line-height: 1;
}
h3 {
	font-weight: 600;
}

.honolulu {
    background-color: #353a40;
}
.cards-categorias .col {
	padding: 5px;
	text-align: center;
}
.cards-categorias .card {
    border-radius: 0;
    border-color: #17a2b8;
}
.cards-categorias .col:first-child .card {
    border-color: #007bff;
}
.cards-categorias .col:last-child .card {
	border-color: #ffc107;
}
.form-tickets  {
	
}

.form-tickets .btn {
	background-color: #97c93e;
	border-color: #97c93e;
}

